@using ProyectoUsuariosBLL.Dtos

@model List<UsuarioDto>

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCrearUsuario">
    Crear Nuevo Usuario
</button>

<table class="table table-striped" id="tablaUsuarios">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
@await Html.PartialAsync("Edit") <!-- PRIORIDAD A LA PRIMERA VISTA CON MISMOS IDS-->
@await Html.PartialAsync("Create")
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Usuarios.js" asp-append-version="true"></script>
}
